@use "../util" as p;

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.attribution a {
    color: hsl(0, 0%, 0%);
    line-height: 1.4;
}

body {

    @include p.break(tablet, infinity) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 10%;
        padding-block: 2.5rem;
        min-height: 100vh;
    }
}

header {
    width: 100%;

    & figure {
        width: 100%;
        text-align: center;
        padding-block: 2.4rem;

        @include p.break(tablet, infinity) {
            padding-top: 0;
        }
    }
}

main {
    background-color: var(--white);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    padding: 2rem 8%;
    width: 100%;
    height: auto;

    @include p.break(tablet, infinity) {
        display: flex;
        border-radius: 1.5rem;
        padding: clamp(1.5rem, 2.78vw, 2.5rem);
        gap: 5%;
        max-width: 58rem;
    }
}

.top {

    @include p.break(tablet, infinity) {
        width: 47.5%;
    }

    &__bill-label {
        margin-bottom: 1rem;
    }

    &__bill, &__num-pple {
        position: relative;

        & input {
            font-size: clamp(1.3rem, 7.2vw, 1.7rem);
            color: var(--veryDarkCyan);
            text-align: right;
            padding: 0.6rem 4%;
            border: none;
            background-color: var(--veryLightGrayishCyan);
            border-radius: 5px;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            width: 100%;

            &:hover {
                outline: 2px solid var(--strongCyan);
            }
        }

        & img {
            position: absolute;
            left: 4%;
            top: 1.5rem;
        }
    } 

    &__tip-label {
        
    }

    &__input-can {
        width: 100%;
        display: flex;
        gap: 1rem 5%;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 2rem;

        & input {
            width: 47.5%;
            border-radius: 5px;
            font-size: clamp(1.3rem, 7.2vw, 1.7rem);
            padding: 0.65rem 3%;
            border: none;
            text-align: center;
            background-color: var(--veryDarkCyan);
            color: var(--white);

            &:hover {
                background-color: var(--strongCyan);
            }

            @include p.break(tablet, infinity) {
                width: 30%;
            }

            &[type= "number"] {
                background-color: var(--veryLightGrayishCyan);
                text-align: right;
                color: var(--veryDarkCyan);

                &:hover {
                    outline: 2px solid var(--strongCyan);
                }
            }
        }
    }

    &__num-pple input {
        @include p.break(tablet, infinity) {
            //margin-bottom: 0;
        }
    }

    &__bill {
        
    }
}

.bottom {
    background-color: var(--veryDarkCyan);
    border-radius: 1rem;
    padding: 2.5rem 7% 1.5rem 7%;
    width: 100%;

    @include p.break(tablet, infinity) {
        width: 47.5%;
        padding: 2.2rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
        
        &__col1 {
        
            & .p1 {
                font-size: 1.1rem;
                color: var(--white);
                margin-bottom: 0.4rem;
            }

            & .p2 {
                font-size: 0.9rem;
                color: var(--grayishCyan);
            }
        }

        &__col2 {
            display: flex;
            align-items: center;

            & p {
                font-size: clamp(1.3rem, 8.53vw, 2rem);
                color: var(--strongCyan);
            }
        }
    }

    &__resetbtn {
        background-color: var(--strongCyan);
        width: 100%;
        border-radius: 6px;
        font-size: clamp(1.2rem, 6.4vw, 1.5rem);
        padding-block: 0.8rem;
        border: none;
        color: var(veryDarkCyan);
        text-transform: uppercase;

        &:hover {
            background-color: var(--grayishCyan);
        }

        @include p.break(tablet, infinity) {
            position: absolute;
            bottom: 2rem;
            width: calc(100% - 4.4rem);
        }
    }
}